[gcode_macro START_PRINT]
variable_extruder: 220
variable_bed: 60
gcode:
    CLEAR_PAUSE
    M107
    M117 Homing
    {% if "xyz" not in printer.toolhead.homed_axes %}
        HOME_ALL_CUSTOM
    {% endif %}
    M400
    
    M117 Preheating bed
    {% set bed_temp = params.BED_TEMP|default(60)|float %}
    {% set extruder_temp = params.EXTRUDER_TEMP|default(220)|float %}

    {% if bed_temp > 90 %}
        {% set bed_temp_preheat = ( bed_temp|float*0.90) | int %}
    {% else %}
        {% set bed_temp_preheat = (bed_temp|float*0.80)| int %}
    {% endif %}

    { action_respond_info("Target bed is: %s, Preheat bed is: %s" % (bed_temp, bed_temp_preheat)) }

    SET_HEATER_TEMPERATURE HEATER=heater_bed TARGET={bed_temp|int}
    TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={bed_temp_preheat|int}

    BED_MESH_CALIBRATE ADAPTIVE=1 ADAPTIVE_MARGIN=5

    M117 Heating
    SET_HEATER_TEMPERATURE HEATER=extruder TARGET={extruder_temp|int}
    TEMPERATURE_WAIT SENSOR=extruder MINIMUM={extruder_temp|int}
    TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={bed_temp|int}

    SAVE_GCODE_STATE NAME=PREPARE_PRINT
    G90
    M83
    G92 E0

    ; === ДОБАВЛЕНО: Парковка для снятия сопли ===
    G1 Z180 F5000        ; Поднять сопло
    G1 X20 Y0 F6000     ; Левый передний угол
    G4 P10000          ; Ждать 10 секунд
        ; ============================================

    M117 Ready to print

    UPDATE_DELAYED_GCODE ID=display_timer DURATION=1 

    RESTORE_GCODE_STATE NAME=PREPARE_PRINT MOVE=1